<ion-header translucent>
  <ion-toolbar>
    <ion-title>Relés</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-label>Refletor</ion-label>
        <ion-toggle slot="start" formControlName="cinco" checked></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Varanda</ion-label>
        <ion-toggle slot="start" formControlName="seis" checked></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Irrigação Horta</ion-label>
        <ion-toggle slot="start" formControlName="sete" checked></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Irrigação Roseira</ion-label>
        <ion-toggle slot="start" formControlName="oito" checked></ion-toggle>
      </ion-item>
    </ion-list>

    <ion-button color="primary" (click)="refresh()">Recarregar</ion-button>
  </form>
</ion-content>